@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --pokemon-red: #ff0000;
  --pokemon-blue: #3b82f6;
}

body {
  @apply bg-red-600 text-white antialiased;
}

.bg-pattern {
  transform-origin: center;
}

/* Add smooth transitions */
.transition-transform {
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

